
{% extends 'base.html.twig' %}

{% block title %}PRODUCT{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            {% for product in product %}
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/uploads/products/{{product.getPostThumbnail()}}"alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{product.getName()}}</h2>
                             
                                <p >ABOUT:{{product.getShortdescription()}}<br>
                                COLOR:{{product.getColor()}} <br>       PRICE:{{product.getPrice()}}<br>
                                DISCOUNT:{{product.getDiscount()}} <br> DELIVERY CHARGE:{{product.getDeliverycharges()}}</p>
                               

                            <p class="card-text">DETAIL:{{product.getlongdescription()|striptags|slice(0, 50)}}</p>
                            <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                  <div><br></div>
                </div>
                
            {% endfor %}
        </div>

    </div>
</div>

                        
{% endblock %}
{% block javascripts %}{% endblock %}