{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Post_thumbnail</th>
                <td>{{ product.postThumbnail }}</td>
            </tr>
            <tr>
                <th>ShortDescription</th>
                <td>{{ product.shortDescription }}</td>
            </tr>
            <tr>
                <th>LongDescription</th>
                <td>{{ product.longDescription }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ product.height }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ product.width }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ product.color }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Quality</th>
                <td>{{ product.quality }}</td>
            </tr>
            <tr>
                <th>Tax</th>
                <td>{{ product.tax }}</td>
            </tr>
            <tr>
                <th>DeliveryCharges</th>
                <td>{{ product.deliveryCharges }}</td>
            </tr>
            <tr>
                <th>Dicount</th>
                <td>{{ product.discount }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ product.created ? product.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ product.updated ? product.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('product_index') }}" class="btn btn-success">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-success">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
